--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Customers" ("CustomerKey", "Prefix", "FirstName", "LastName", "BirthDate", "MaritalStatus", "Gender", "EmailAddress", "AnnualIncome", "TotalChildren", "EducationLevel", "Occupation", "HomeOwner") FROM stdin;
\.


--
-- Data for Name: Users_tbl; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users_tbl" ("UserID", "UserName", "UserAge") FROM stdin;
\.


--
-- Data for Name: calendar; Type: TABLE DATA; Schema: public; Owner: pg_database_owner
--



--
-- Data for Name: codes_other_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.codes_other_tasks (taskcode, taskdesc) FROM stdin;
CallingCust1	CallingCust1 (30m)
CallingCust2	CallingCust2 (60m)
Meeting1	Meeting1 (30m)
Meeting2	Meeting1 (30m)
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employeetasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: kpi_detailed; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: employeetasks_recid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employeetasks_recid_seq', 67, true);


--
-- PostgreSQL database dump complete
--

