--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customers" (
    "CustomerKey" text,
    "Prefix" text,
    "FirstName" text,
    "LastName" text,
    "BirthDate" text,
    "MaritalStatus" text,
    "Gender" text,
    "EmailAddress" text,
    "AnnualIncome" text,
    "TotalChildren" text,
    "EducationLevel" text,
    "Occupation" text,
    "HomeOwner" text
);


ALTER TABLE public."Customers" OWNER TO postgres;

--
-- Name: Users_tbl; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users_tbl" (
    "UserID" bigint NOT NULL,
    "UserName" text NOT NULL,
    "UserAge" integer
);


ALTER TABLE public."Users_tbl" OWNER TO postgres;

--
-- Name: calendar; Type: TABLE; Schema: public; Owner: pg_database_owner
--

CREATE TABLE public.calendar (
    thedate text
);


ALTER TABLE public.calendar OWNER TO pg_database_owner;

--
-- Name: codes_other_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.codes_other_tasks (
    taskcode character varying(20) NOT NULL,
    taskdesc character varying(100)
);


ALTER TABLE public.codes_other_tasks OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    dooraccess_id character varying(100),
    emp_id character varying(150),
    userloginid character varying(100),
    username character varying(150),
    emailaddress character varying(255),
    dirmanager character varying(150),
    dirmanager_id character varying(150),
    product character varying(150),
    remarks character varying(150),
    dropped character varying(150),
    profilecode_a character varying(50),
    profilecode_b character varying(50),
    profilecode_lms character varying(50),
    createdon character varying(150),
    modifiedon character varying(150),
    windows_id character varying(100),
    lms_role character varying(100),
    team_org character varying(100),
    team character varying(100),
    userlevel character varying(50),
    distprofilecode_b character varying(50),
    distallowedsegment character varying(100),
    distallowedproduct character varying(100),
    distfreshrepeat character varying(50),
    modifiedby character varying(100),
    createdby character varying(100),
    exitdate character varying(150),
    forcequit character varying(250),
    profiledesc_full character varying(100),
    profilecode_full character varying(100),
    negativelist_role character varying(100),
    sex character varying(10),
    iscounted_synergy character varying(100),
    dob character varying,
    pwd character varying(100)
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employeetasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employeetasks (
    empl_id character varying(100),
    taskdate character varying(100),
    tasktype character varying(100),
    taskcount character varying(100),
    taskhours character varying(100),
    creat_user character varying(100),
    modify_user character varying(100),
    authorized character varying(100),
    remarks character varying(100),
    mgrremarks character varying(100),
    creat_dt timestamp without time zone DEFAULT now(),
    modify_dt timestamp without time zone DEFAULT now(),
    recid bigint NOT NULL
);


ALTER TABLE public.employeetasks OWNER TO postgres;

--
-- Name: employeetasks_recid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employeetasks ALTER COLUMN recid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.employeetasks_recid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employeetasks_tmp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employeetasks_tmp (
    recid character varying(100),
    empl_id character varying(100),
    taskdate character varying(100),
    tasktype character varying(100),
    taskcount character varying(100),
    taskhours character varying(100),
    creat_dt character varying(100),
    creat_user character varying(100),
    modify_dt character varying(100),
    modify_user character varying(100),
    authorized character varying(100),
    remarks character varying(100),
    mgrremarks character varying(100)
);


ALTER TABLE public.employeetasks_tmp OWNER TO postgres;

--
-- Name: kpi_detailed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_detailed (
    empl_id character varying(100),
    windows_id character varying(100),
    username character varying(100),
    userlevel character varying(100),
    dirmanager character varying(100),
    thedate character varying(100),
    yearmonth character varying(100),
    year_ character varying(100),
    shiftcode character varying(100),
    in_ character varying(100),
    out_ character varying(100),
    attendancepercent character varying(100),
    within_sla character varying(100),
    slapercent character varying(100),
    deals_count character varying(100),
    fresh_count character varying(100),
    repeated_count character varying(100),
    fresh_ character varying(100),
    repeated_ character varying(100),
    nonanalyst character varying(100),
    productivity_fin character varying(100),
    productivity_othertask character varying(100),
    deals_count_as character varying(100),
    productivity_as character varying(100),
    count_preappoved character varying(100),
    hour_preappoved character varying(100),
    productivitytotal character varying(100),
    productivitypercent character varying(100),
    errortype1 character varying(100),
    errortype2 character varying(100),
    errorweitage character varying(100),
    accuracypercent character varying(100),
    learngrowthpercent character varying(100),
    learngrowth2percent character varying(100),
    iterationpercent character varying(100),
    appreciationpercent character varying(100),
    mandatorykpipercent character varying(100),
    totalscore_today character varying(100),
    kpi_today_equally character varying(100),
    kpi_todaypercent character varying(100),
    kpi_monthpercent character varying(100),
    kpi_yearpercent character varying(100),
    isconsidered character varying(100),
    load_date character varying(100),
    team character varying(100),
    isanalyst character varying(100),
    day character varying(100),
    attendstatus character varying(100),
    attendhours character varying(100),
    latecount_mtd character varying(100),
    latecount_ytd character varying(100),
    latepermit_mtd character varying(100),
    latepermit_ytd character varying(100)
);


ALTER TABLE public.kpi_detailed OWNER TO postgres;

--
-- Name: www; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.www (
    empl_id character varying(100),
    taskdate character varying(100),
    tasktype character varying(100),
    taskcount character varying(100),
    taskhours character varying(100),
    creat_user character varying(100),
    modify_user character varying(100),
    authorized character varying(100),
    remarks character varying(100),
    mgrremarks character varying(100),
    creat_dt timestamp without time zone,
    modify_dt timestamp without time zone,
    recid bigint
);


ALTER TABLE public.www OWNER TO postgres;

--
-- Name: Users_tbl Users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users_tbl"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY ("UserID");


--
-- Name: codes_other_tasks codes_other_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.codes_other_tasks
    ADD CONSTRAINT codes_other_tasks_pkey PRIMARY KEY (taskcode);


--
-- Name: employeetasks employeetasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employeetasks
    ADD CONSTRAINT employeetasks_pkey PRIMARY KEY (recid);


--
-- PostgreSQL database dump complete
--

